body {
}

.advDetails{
   display:inline-block;
}

.details div{
    display:inline-block;
}

.links :hover{
    background-color: darkgreen;
    background: white;
}

.searchButton{
    background-color: darkgreen;
    background: white;
}
