@model IEnumerable<WebsiteForAds.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/advertisementsStyle.css" rel="stylesheet" type="text/css" />
<h2>Потребители</h2>
<br />
<div style="font-family:Arial">
    <table class="table" border="0">
        <tr>
            <th  style="background-color:darkgreen;border-radius:7px;color:white;padding:2px;text-align:center">
                Име и презиме:
            </th>
            <th  style="background-color:darkgreen;border-radius:7px;color:white;padding:2px;text-align:center">
                Потребителско име:
            </th>
            <th style="background-color:darkgreen;border-radius:7px;color:white;padding:2px;text-align:center"> 
                Имейл:
            </th>
            <th style="background-color:darkgreen;border-radius:7px;color:white;padding:2px;text-align:center">
                Действия:
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <a href="Account/DeleteUser/@item.Id">Изтрий</a>
                </td>
            </tr>
        }
    </table>
</div>


