@model IEnumerable<WebsiteForAds.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Account/Index.cshtml";
}
<link href="~/Content/advertisementsStyle.css" rel="stylesheet" type="text/css" />
<div style="font-family:Arial">
    <table class="table" border="1">
        <tr>
            <th class="colName">
                Потребител:
            </th>
            <th class="colName">Действия:</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.ActionLink("Изтрий", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>


